.note-container {
  padding: 10px;
  margin: 20px 0;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: hsl(180, 100%, 35%);
}
  
.note-title {
  font-size: 1.8em;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
  color: hsl(0, 0%, 0%);
}
  
.note-content {
  margin-bottom: 10px;
  color: hsl(0, 0%, 20%);
  font-size: 1.3em;
}

.note-date {
  color: hsl(0, 0%, 20%);
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.delete-button {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #d32f2f; /* Darker red */
}